<div class="banner">
    <div class="img-content">
        <h1>Your Donationis Others Inspiration</h1>
        <button>DONATENOW</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="55">
            <div class="bottom-cnt ">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="50">
                        <h1>Please Help them and Donate now</h1>
                    </div>
                    <div fxFlex="50">
                        <button>DONATENOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>